#navbarNav{
    margin-left: 100px;
   

}
.nav-item{
    padding-left: 80px;
}
body{
    background-image: url("images/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.text{
    margin-top: 200px ;
    margin-left: 50px;
    
}