/* Background */
.background {
    background: url('path/to/your/background-image.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Banner */
.banner {
    background-color: #f8f9fa; /* Optional: Set a background color for the banner */
    padding: 60px 0;
    text-align: center;
}

.bannerHeader {
    margin-bottom: 20px;
}

.bannerHeader h1 {
    font-size: 3rem;
    color: #333;
}

.bannerHeader p {
    font-size: 1.5rem;
    color: #666;
}

.bannerTagline {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.5;
}

.logo {
   width: 100px;
   height: 80px;
   margin-left: 30px;
   justify-content: space-between;
}
.home {
    text-decoration: none;
    padding: 15px 83px;
    font-size: 25px;
    color: rgb(42, 40, 40);
}
.team {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  border-radius: 10px;
  margin-top: -40px;
  padding: 10px;
}
.algo {
  margin-left: 45%;
}
.btn {
  position: absolute;
  top: 70px;
  right: 45px;
  left: 45px;
}
.para {
  line-height: 1;
  color: white;
}
button {
  background-color: #00C000;
  border-radius: 8px;
  padding: 50px;
}
.team .team_member:hover .btn {
  position: absolute;
  top: 140px;
  right: 45px;
  left: 45px;
}
.team .team_member:hover {
    margin: 5px;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 300px;
    padding: 20px;
    line-height: 160px;
    color: #8e8b8b;  
    position: relative;
    border-radius: 30px;  
    height: 400px;
}
.team .team_member:hover .team_img {
  position: absolute;
  top: -40px;
  left: 43.5px;
}
.team .team_member {
  background: #5d5f5b;
  margin: 5px;
  margin-top: 60px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 50px;
  color: #8e8b8b;  
  position: relative;
  border-radius: 30px;
  height: 200px; 
  transition: 0.9s;
}
.team .team_member .team_img {
  position: absolute;
  top: 31px;
  left: 43.5px;
  height: auto; 
}
.team .team_member .team_img img {
  width: 250px;
  height: 150px;
  padding: 5px;
  border-radius: 30px;
}
footer {
  background-color: #5d5f5b;
  border-radius: 10px;
  height: 100px;
  font-size: 18px;
}
.navbar1 {
  width: 60%;
  float: right;
  text-align: right;
  padding-top: 30px;
}
.navbar1 a {
  text-decoration: none;
  font-size: 25px;
  color: #343532;
  padding: 40px;
}
.navbar2 {
  width: 60%;
  float: left;
}